doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title wed-api

		link(type="text/css", rel="stylesheet", href="dist/css/main.css")
	body
		script(type="text/javascript", src="dist/js/bundle.js") 