<div class="title">
	<span class="label">{{label}}</span>
	<div class="arrow-icon"></div>
</div>
<div class="infos">
	<span class="position"></span>
	<span class="review"></span>
</div>
<div class="weekends hidden"></div>