<div class="hotel__title">
	<span class="hotel__label">{{label}}</span>
	<div class="arrow-icon"></div>
</div>
<div class="infos">
	<span class="hotel__position"></span>
	<span class="hotel__review"></span>
</div>
<div class="weekends hidden"></div>